<h1>Attendees of <%= @event.name %> </h1>
<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
  </tr>
<% end %>
</table>
<h1>Total number of attendees is <%= @users.count %></h1>
 <%= link_to 'Export to Excel', url_for(:controller => "events",:action => "attendees",:format => 'xls') %>
