<% if current_user %>
  <table>
    <tr>
      <th>
        Event Name
      </th>
    </tr>
    <% @events.each do |event| %>
      <tr>
        <td>
          <%= link_to event.name, :controller => "events",:action => "show",:id => event.id %>
        </td>
        <td>
          <% if is_registered_already? event.id %>
            <p> registered already </p>
          <% else %>
            <%= link_to "Register", :controller => "events" ,:action => "register",:id => event.id,:method => "get" %>
          <% end %>
        </td>

      </tr>
    <% end %>
  </table>

<% else %>

  <table>
  <tr>
    <th>
      Event Name
    </th>
  </tr>
  <% @events.each do |event| %>
    <tr>
      <td>
        <%= link_to event.name, :controller => "events",:action => "show",:id => event.id %>
      </td>
      <td>
          <%= link_to "Register", :controller => "events" ,:action => "register",:id => event.id,:method => "get" %>
      </td>
    </tr>
  <% end %>
  </table>
  <div class="data">

  </div>
<% end %>
<table class="main">
<tr>
</tr>
</table>

  <%= link_to 'Export to Excel', url_for(:controller => "events",:action => "index",:format => 'xls') %>




<%= will_paginate @events %>


<script>
  $(document).ready(function () {

      $("[href='/events?page=1']").hide()
      $("[href='/events?page=2']").hide()
      $("[href='/events?page=3']").hide()
      $(".next_page").show()
      $(".previous_page").hide()
      $(".current").hide()

      $(".next_page").click(function(e) {
        e.preventDefault()
        var x= $(".current").text()
        x = parseInt(x)
        x = x.toString()
        $.ajax({
          url: '/events?page='+(parseInt($(".current").text())+1).toString(),
          dataType: "script"
        })
      })
  });
</script>
