<%= form_for @event, :url => { :action => "create" }, :html => { :multipart => true } do |f| %>
  <% if @event.errors.full_messages[0] %>
    <ul class="alert-message block-message error">
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>

  <% else %>
  <% end %>
  <div class="clearfix">
    <%= f.label :name %>
    <div class="input">
      <%= f.text_field :name %>
    </div>
  </div>
  <div class="clearfix">
    <%= f.label :description %>
    <div class="input">
      <%= f.text_field :description %>
    </div>
  </div>
  <div class="clearfix">
    <%= f.label :location %>
    <div class="input">
      <%= f.text_field :location%>
    </div>
  </div>
  <div class="clearfix">
    <%= f.label :date %>
    <div class="input">
      <%= f.text_field :date%>
    </div>
  </div>
  <div class="clearfix">
    <%= f.label :time %>
    <div class="input">
      <%= f.text_field :time%>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Submit", :class=>"btn primary" %>
  </div>

<% end %>
