<% content_for :header do %>
  <h1><%= @event.name %></h1>
<% end %>
<div style="float:right">
<script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
<script>
new TWTR.Widget({
  version: 2,
  type: 'profile',
  rpp: 3,
  interval: 30000,
  width: 220,
  height: 250,
  theme: {
    shell: {
      background: '#333333',
      color: '#ffffff'
    },
    tweets: {
      background: '#000000',
      color: '#ffffff',
      links: '#4aed05'
    }
  },
  features: {
    scrollbar: false,
    loop: false,
    live: false,
    behavior: 'all'
  }
}).render().setUser('<%= @event.name%>').start();
</script>
</div>
<h3>When and Where </h3>
<%= @event.date %> <%= "at" %> <%= @event.time %>:<%=@event.min%>
</br>
<h3>Venue</h3>
<%= @event.location %>
</br>
<h3>Event Details</h3>
<%= @event.description %></br>

<h3>Registration</h3>
<% if current_user %>
  <% if is_registered_already? @event.id %>
   <p> registered already </p>
  <% else %>
    <br/>
    <h3>Ticket Information</h3>
    <table>
      <tr>
        <th>Ticket Type</th>
        <th>Sales End</th>
        <th>Price</th>
        <th>Quantity</th>
      </tr>
      <tr>
        <td>General</td>
        <td><%= @event.date %></td>
        <td>300</td>
        <%= form_tag "/events/attend", :method => 'post' do %>
            <%= hidden_field_tag(:event_id,@event.id) %>
            <td><%=select_tag(:num, options_for_select((0..40).collect {|s| ["#{s}", s]}))%></td></tr></table>
            <%= hidden_field_tag(:valid,"notvalid") %>
            <%= submit_tag("Register",:class=>"btn primary") %>
        <% end %>
        <%= form_tag coupons_path, :method => 'get',:id=>"form1" do %>
          <a href="#" id="coupon" style="font-family:arial;color:red;font-size:20px;">have a coupon code?</a>
          <div id="code"><p>enter the code</p>
            <input type=text name="coupon"><input type=submit id="codecheck" value="Apply" class="btn primary">
            <%= hidden_field_tag(:event_id,@event.id) %>
          </div>
        <% end %>
  <% end %>
  <% if is_organisor? %>
    <%= link_to "Check The Attendees", :controller => "events" ,:action => "attendees",:id => @event.id %>
  <% end %>
  <% if current_user.authorizations.empty?%>
    <h3>Please SignIn through LinkedIn to see people from your connections attending this event</h3>
  <% end %>
  <div id="connectionheader"></div>
  <div id="connections"></div>
  <div id="start" style="float:right;width: 180px;padding:0px 175px 0px 0px"></div>
  <% if current_user.authorizations.empty?%>
  <% else %>
  <%= form_tag "/events/connection", :method => 'get',:id=>"form_connections" do %>
      <input type=submit id="codecheck" value="check attendees from your connection" class="btn primary">
      <%= hidden_field_tag(:event_id,@event.id) %>
  <% end %>
  <%end%>
<% end %>
<% content_for :contactorg do %>
  <button class="btn btn-info" id="addcal">Add to Google Calender</button><br/><br/>
  <button class="btn btn-info">Contact Organisor</button>
<% end %>

<script type="text/javascript">
  $(document).ready(function () {
    $("#code").hide()
    $("#coupon").click(function(){
      $(this).hide()
      $("#code").show()
    })

    $("#form1").submit(function(e){
      e.preventDefault()
        $.ajax({
          url: $('#form1').attr('action'),
          dataType: "script",
          type: "get",
          data: $('#form1').serialize()
        })
    })

    $("#form_connections").submit(function(e){
      $("#start").html("<img src='/assets/ajax-loader.gif' />")
      e.preventDefault()
        $.ajax({
          url: $('#form_connections').attr('action'),
          complete: function() {
            $('#start').html('')
          },
          dataType: "script",
          type: "get",
          data: $('#form_connections').serialize()
        })
    })



  })
  </script>



  <link rel='stylesheet' type='text/css' href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/themes/south-street/jquery-ui.css' />
	<link rel='stylesheet' type='text/css' href='http://tardate.com/addtocal/jquery.addtocal.css' />
	<!-- hcalendar is only included for an hCalendar event markup example. It is NOT required for jquery.addtocal -->
	<link rel="profile" href="http://microformats.org/profile/hcalendar">
  <style type='text/css'>

    /* styles here are purely for the purpose of the demo and are not essential for addtocal functionality */
    body {
    	font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    	font-size: 12px;
    	margin: 0 50px;
    }
    h1 {
    }
    p.description {
    }
    .addtocal {
      background-color:#CCCCCC;
      display: inline-block;
      margin:0 1em 0 0;
      padding:10px;
      text-align:center;
      width: 220px;
    }
    .addtocal:hover {
      background-color:#DDDDDD;
    }
    .addtocal .summary {
      font-size: 14px;
      font-weight:bold;
    }
    .addtocal .date {
      font-weight:bold;
    }
    .addtocal .description {
    }

  </style>

  <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js'></script>
  <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.min.js'></script>

  <script type='text/javascript' src='http://tardate.com/addtocal/libs/rfc3339date.js'></script>
  <script type='text/javascript' src='http://tardate.com/addtocal/jquery.addtocal.js'></script>

  <script type='text/javascript'>
  $(document).ready(function() {

    $('#addcal').AddToCal({
      /* ical and vcal require an ics or vcs file to be served.
       * Since we don't have a server for this demo, these features are disabled.
       * As a result the 30boxes, iCal and vCalendar menu links will not appear
       */
      icalEnabled:false,
      vcalEnabled:false,

      /* getEventDetails is the most critical function to provide.
       * It is called when a user selects a calendar to add an event to.
       * The element parameter is the jQuery object for the event invoked.
       * You must return an object packed with the relevant event details.
       * How you determine the event attributes will depend on your page.
       * The example below illustrates how to handle two formats of event markup.
       */
      getEventDetails: function( element ) {
        var
          dtstart_element = element.find('.dtstart'), start,
          dtend_element = element.find('.dtend'), end,
          title_element = element.find('.summary'), title,
          details_element = element.find('.description'), details;

        // in this demo, we attempt to get hCalendar attributes or otherwise just dummy the values
        start = dtstart_element.length ? dtstart_element.attr('title') : new Date();
        if(dtend_element.length) {
          end = dtend_element.attr('title');
        } else {
          end = new Date();
          end.setTime(end.getTime() + 60 * 60 * 1000);
        }
        title ="<%= @event.name%>"
        details = "<%= @event.description%>"

        // return the required event structure
        return {
          webcalurl: null,
          icalurl: null,
          vcalurl: null,
          start: start,
          end: end,
          title: title,
          details: details,
          location: null,
          url: null
          };
      },
    });

  });
  </script>
