<div id="accordion">
<table>
  <tr>
    <td>
      <div><h3>Name</h3>
      <%= @event.name %></div>
    </td>
  </tr>
  <tr>
    <td>
      <div>
      <h3>Description</h3>
      <%= @event.description %>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div>
      <h3>Location</h3>
      <%= @event.location %>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div>
      <h3>Date</h3>
      <%= @event.date %>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div>
      <h3>Time</h3>
      <%= @event.time %>:<%=@event.min%>
      </div>
    </td>
  </tr>
</table>
</div>
