<% content_for :pagename do %>
  <%= @event.name %>
<% end %>
<h3>When and Where </h3>
<%= @event.date %> <%= "at" %> <%= @event.time %>:<%=@event.min%>
</br>
<h3>Venue</h3>
<%= @event.location %>
</br>
<h3>Event Details</h3>
<%= @event.description %></br>

<% if current_user %>
  <% if is_registered_already? @event.id %>
   <p> registered already </p>
  <% else %>
    <br/>
    <h3>Ticket Information</h3>
    <table>
      <tr>
        <th>Ticket Type</th>
        <th>Sales End</th>
        <th>Price</th>
        <th>Quantity</th>
      </tr>
      <tr>
        <td>General</td>
        <td><%= @event.date %></td>
        <td>300</td>
        <%= form_tag "/events/attend", :method => 'post' do %>
            <%= hidden_field_tag(:event_id,@event.id) %>
            <td><%=select_tag(:num, options_for_select((0..40).collect {|s| ["#{s}", s]}))%></td></tr></table>
            <%= hidden_field_tag(:valid,"notvalid") %>
            <%= submit_tag("Register",:class=>"btn primary") %>
        <% end %>
        <%= form_tag coupons_path, :method => 'get',:id=>"form1" do %>
          <a href="#" id="coupon" style="font-family:arial;color:red;font-size:20px;">have a coupon code?</a>
          <div id="code"><p>enter the code</p>
            <input type=text name="coupon"><input type=submit id="codecheck" value="Apply" class="btn primary">
            <%= hidden_field_tag(:event_id,@event.id) %>
          </div>
        <% end %>
  <% end %>
  <% if is_organisor? %>
    <%= link_to "Check The Attendees", :controller => "events" ,:action => "attendees",:id => @event.id %>
  <% end %>
  <% if current_user.authorizations.empty?%>
    <h3>Please SignIn through LinkedIn to see people from your connections attending this event</h3>
  <% else %>
    <h3>People From Your Connections Attending This Event: </h3>
    <% client = LinkedIn::Client.new('sup72rpsh43n', 'wYzneYSh0nOMHnHv') %>
    <% auth = Authorization.find_by_user_id(current_user.id)%>
    <% client.authorize_from_access(auth.token,auth.secret) %>
    <% connections = client.connections %>
    <% connections.all.each do |connection| %>
      <% user = Authorization.find_by_uid(connection.id) %>
      <% if user.nil? %>
      <% else %>
        <% r = Registration.where("event_id=? AND user_id =?",@event.id,user.user_id) %>
        <% if r.empty? %>
        <% else %>
          <%= User.find_by_id(user.user_id).name %>
          <br/>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <div id="connections"></div>
  <div id="start" style="float:right;width: 180px;padding:0px 175px 0px 0px"></div>

  <%= form_tag "/events/connection", :method => 'get',:id=>"form_connections" do %>
      <input type=submit id="codecheck" value="check attendees from connection" class="btn primary">
      <%= hidden_field_tag(:event_id,@event.id) %>
  <% end %>

<% end %>

<script type="text/javascript">
  $(document).ready(function () {
    $("#code").hide()
    $("#coupon").click(function(){
      $(this).hide()
      $("#code").show()
    })

    $("#form1").submit(function(e){
      e.preventDefault()
        $.ajax({
          url: $('#form1').attr('action'),
          dataType: "script",
          type: "get",
          data: $('#form1').serialize()
        })
    })

    $("#form_connections").submit(function(e){
      $("#start").html("<img src='/assets/ajax-loader.gif' />")
      e.preventDefault()
        $.ajax({
          url: $('#form_connections').attr('action'),
          complete: function() {
            $('#start').html('')
          },
          dataType: "script",
          type: "get",
          data: $('#form_connections').serialize()
        })
    })

  })
  </script>
