<div class="topbar">
  <div class="fill">
    <div class="container">
      <%= link_to "Event Registration",root_url,:class => "brand" %>
      <ul class="nav">
        <% if current_user %>
          <li><%= link_to 'Events',:controller =>'events',:action => 'index' %></li>
          <% if is_organisor? %>
            <li><%= link_to 'Add Event',:controller =>'events',:action => 'new' %></li>
          <% end %>
          <li><%= link_to "Profile", :action => "show", :controller => "users",:id => :current%></li>
          <li><%= link_to "Edit Profile",edit_user_path(:current)%></li>
          <li><%= link_to "Current Orders",:action => "order",:controller => "users" %>
          <li><%= link_to "Signout",logout_path%></li>
          <%= form_tag events_path, :method => 'get' do %>
              <li><%= text_field_tag :search %></li>
          <% end %>
        <% else %>
          <li><%= link_to 'Sign In', {:controller=> "user_sessions", :action=> "new"},:class => "signin" %></li>
          <li><%= link_to 'Sign Up', new_user_path %></li>
          <li><%= link_to 'Events',:controller =>'events',:action => 'index' %></li>
            <%= form_tag events_path, :method => 'get' do %>
              <li><%= text_field_tag :search %></li>
            <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    $("#search").width(150)
    $('.signin').colorbox({width:"70%", height:"70%"})
    $("#search").keypress(function(){
        $("#search").animate({
             width: "300px"
        });
    })
    $("#search").focusout(function(){
      $("#search").animate({
             width: "150px"
        });
    })

  })

</script>
