<html>
  <head>
    <%= yield :head %>
    <link href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.css" rel="stylesheet">
    <link href="http://jacklmoore.com/colorbox/example1/colorbox.css" rel="stylesheet">
    <%= stylesheet_link_tag "style" %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="http://jacklmoore.com/colorbox/colorbox/jquery.colorbox.js"></script>
  </head>
  <body>

        <%= render 'layouts/header' %>
        <div class="container">
      <div class="content">
        <div class="page-header">
          <h1><%= yield :pagename %></h1>
        </div>
        <div class="row">
          <div class="span10">
            <%= yield %>
          </div>
          <div class="span4">
            <h3>Secondary content</h3>
          </div>
        </div>
      </div>

      <footer>
        <p>&copy; Company 2011</p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>
